*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
    }
    
    body{
    display:flex;
    background:#f4f6f9;
    }
      
    .sidebar{
    width:220px;
    background:#1f2d3d;
    color:white;
    height:100vh;
    padding:20px;
    }
    
    .sidebar h2{
    margin-bottom:30px;
    }
    
    .sidebar ul{
    list-style:none;
    }
    
    .sidebar a{
    display:block;
    color:white;
    padding:12px;
    text-decoration:none;
    border-radius:8px;
    margin-bottom:8px;
    }
    
    .sidebar a:hover{
    background:#3c4b5c;
    }
    
    .sidebar a.active{
    background:#3c4b5c;
    }
    
    .main{
    flex:1;
    padding:20px;
    }
    
    table{
    width:100%;
    background:white;
    border-collapse:collapse;
    }
    
    th,td{
    padding:12px;
    border-bottom:1px solid #ddd;
    }
    
    th{
    background:#eee;
    }
     
    .card{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
    }
    
    button{
    padding:8px 12px;
    cursor:pointer;
    }